* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono";
    font-size: 13px;
}

window#waybar {
    background-color: #1f242b;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 0px 4px;
    color: #cdd6f4;
    margin: 1px 0px;
}

#workspaces button.active {
    color: #8ea7ce;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#memory,
#power-profiles-daemon,
#battery,
#cpu,
#pulseaudio,
#network,
#clock,
#custom-macro-kbd,
#temperature,
#custom-music,
#tray {
    padding: 0px 4px;
    color: #cdd6f4;
    margin: 1px 3px;
}

#memory,
#power-profiles-daemon,
#battery,
#cpu,
#pulseaudio,
#network,
#custom-macro-kbd,
#temperature,
#custom-music,
#tray {
    border-right: 1px solid rgba(84, 99, 119, 0.3);
}

#battery.plugged,
#battery.charging {
    padding-right: 10px;
}

#battery {
    padding-right: 12px;
    padding-left: 0px;
}

#window {
    color: #cdd6f4;
}

#pulseaudio {
    padding-right: 12px;
}

#network {
    padding-right: 11px;
    padding-left: 2px;
}

#power-profiles-daemon.power-saver {
    padding-right: 10px;
    padding-left: 3px;
}

#power-profiles-daemon.balanced {
    padding-right: 13px;
    padding-left: 0px;
}

#power-profiles-daemon.performance {
    padding-right: 9px;
    padding-left: 4px;
}

tooltip {
    margin: 0px 0px;
}

tooltip label {
    margin: 0px 0px;
}
