* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: #1f242b;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 0px 4px;
    color: #cdd6f4;
    margin: 1px 0px;
}

#workspaces button.active {
    color: #8ea7ce;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#memory,
#power-profiles-daemon,
#battery,
#cpu,
#pulseaudio,
#network,
#clock,
#custom-macro-kbd,
#temperature,
#custom-music,
#tray {
    padding: 0px 4px;
    color: #cdd6f4;
    margin: 1px 3px;
}

#memory,
#power-profiles-daemon,
#battery,
#cpu,
#pulseaudio,
#network,
#custom-macro-kbd,
#temperature,
#custom-music,
#tray {
    /* border-right: 1px solid rgba(84, 99, 119, 0.3); */
    padding-right: 5px;
}

#battery.charging {
    color: #181825;
}

#window {
    color: #cdd6f4;
}

tooltip {
    margin: 0px 0px;
}

tooltip label {
    margin: 0px 0px;
}
